{% extends 'base.html' %}

{% block content%}

<h2> Profile </h2><br>

<div class="container-fluid">
    <p> First Name: {{ user.first_name }} </p>
    <p> Last Name: {{ user.last_name }} </p>
    <p> Username: {{ user.username }} </p>
    <p> Email ID: {{ user.email }} </p>
    <p> Description: {{ user.userprofile.desc }} </p>
    <p> City: {{ user.userprofile.city }} </p>
    <p> Website: {{ user.userprofile.website }} </p>
    <p> Phone: {{ user.userprofile.phone }} </p>
    <img src="{{ user.userprofile.image.url }}" width="240">

</div>

<div class="container-fluid">
    <a class="btn btn-outline-success" href="{% url 'accounts:edit_profile' %}" role="button"> Edit Profile </a>
    <a class="btn btn-outline-warning" href="{% url 'accounts:change_password' %}" role="button"> Change Password </a>
</div>


{% endblock  %}